.Weather .card {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 50px;
  border: none;
  box-shadow: 5px 5px 10px rgb(107, 111, 116, 0.2);
}
.container {
  margin-top: 100px;
  text-align: center;
}
.container .git-link {
  text-decoration: none;
  color: #eb6e4bbf;
}
.container .git-link:hover {
  text-decoration: underline;
}